<a href {{action "expand"}} class="dropdown-header"  aria-expanded={{expanded}}>
  <span class='d-label'>{{period-title currentPeriod}}</span>
</a>
<a href {{action "expand"}} class="{{dropdownButtonClass}} dropdown-header">
{{d-icon expandedIcon}}
</a>
<section class="{{unless expanded 'hidden'}} category-dropdown-menu chooser">
{{#each site.periods as |p|}}
  <div class='period'>
    <a href {{action "changePeriod" p }}>{{period-title p showDateRange=false}}</a>
  </div>
{{/each}}
</section>
